.delete-confirm-box{ class: "js-btn-confirm-delete-#{product.id}" }= link_to "Are you Sure?", "/lists/#{list.id}/products/#{product.id}", method: :delete, remote: :true, class: "button #{product.id}"
%li.list-group-item{ :id => "product-#{product.id}" }
  .mini-item-info{ id: "js-item-info-#{product.id}" }
    #list_name= product.name[0,30] 
    .bounding-box{ :style => "background-image: url(#{product.image_url})" }= " "
  %button.btn.btn-xs.btn-danger.pull-right{ class: "js-item-delete", data: { item: "#{product.id}" } } x
