
<div><h3>Create A New List</h3></div>
<%= render partial: "shared/error_messages", locals: {instance: @list} %>

  <div class="form-horizontal col-sm-7 col-md-5" role="form">
  <%= form_for @list do |f|  %>

    <div class="form-group">
      <%= f.label :title, class: "control-label"  %>
      <%= f.text_field :title, class: "form-control", placeholder: "List Title" %>
    </div>

    <div class="form-group">
      <%= f.label :event, class: "control-label" %>
      <%= f.text_field :event, class: "form-control", placeholder: "What's the occasion?" %>
    </div>

    <div class="form-group">
      <%= f.label :event_date, class: "control-label" %>
      <%= f.date_select "event_date", class: "form-control", :order => [:day, :month, :year], start_year: Time.now.year, end_year: Time.now.year + 5 %>
    </div>
    <div class="form-group">
      <%= f.submit "Submit", class: "btn btn-default" %>
    </div>
  <% end %>
</div>

