= title("Giftshare Wishlist: #{@list.title}")
.row
  .jumbotron
    %h1= @list.title
    %h4 #{@list.event_date}
    %p Created by: #{@list.user.email}
  - if can? :manage, @list
    .search-form
      = render partial: 'searches/search_form', locals: {list: @list, search: @search }

  %div
    %table.table
      %tr
        %th Product Name
        %th URL
        %th Price
        %th Category
        %th Product Number
        %th Store
        %th Image
        %th

      = render partial: 'products/product', collection: @products, locals: {list: @list}

  -if can? :manage, @list
    .mailer_options
      = render partial: "messages/sharelist_form", locals: {list: @list}