<div>
  <h2><%= @list.title %></h2>
  <strong><%= @list.event_date %></strong>
</div>

<%= link_to "Edit List", edit_list_path(@list) %>

<div class="search-form">
  <%= render partial: 'searches/search_form', locals: {list: @list, node_list: @node_list} %>
</div>

<div>
  <table class="table">
    <tr>
      <th>Name</th>
      <th>URL</th>
      <th>Product Number</th>
      <th>Store</th>
    </tr>
    <%= render partial: 'products/product', collection: @products, locals: {list: @list} %>
  </table>
</div>
