.row
  .jumbotron
    %h1= @list.title
    %h4 #{@list.event_date}
    %p Created by: #{@list.user.email}
  - if can? :manage, @list
    .search-form
      = render partial: 'searches/search_form', locals: {list: @list, node_list: @node_list}

  %div
    %table.table
      %tr
        %th Product Name
        %th URL
        %th Price
        %th Category
        %th Product Number
        %th Store
        %th Image

      = render partial: 'products/product', collection: @products, locals: {list: @list}