.row
  .jumbotron
    %h1= @list.title
    %strong #{@list.event_date}  #{link_to("Edit List", edit_list_path(@list))}

  .search-form
    = render partial: 'searches/search_form', locals: {list: @list, node_list: @node_list}

  %div
    %table.table
      %tr
        %th Product Name
        %th URL
        %th Price
        %th Category
        %th Product Number
        %th Store
        %th Image

      = render partial: 'products/product', collection: @products, locals: {list: @list}


