-content_for :head do
  = stylesheet_link_tag 'users'

.row
  .col-sm-12#profile-header
    %h1= @profile_owner.display_user_as("username") + "'s Profile"
    = link_to('Edit Profile Settings', edit_registration_path(@profile_owner))

.row#profile-body
  .col-sm-6
    - if @profile_viewer.id == @profile_owner.id
      %p You have #{pluralize(@lists.count, 'list')}
    - else 
      %p #{@profile_owner.display_user_as("username")} has #{pluralize(@lists.count, 'list')}

    - if @lists.count > 0
      %table.table
        %tr
          %th Title
          %th Event
          %th Date
          %th
        = render @lists
        
  .col-sm-5.col-sm-offset-1
    .panel#friendlist
      .panel-heading
        %h2.panel-title Friends List
        - if @profile_owner == @profile_viewer
          .friend-add-form
            = render partial: 'friendships/friendship_form'
        
      - if @profile_owner.friends.count > 0
        .panel-body
          #friend-list
            = render partial: 'friendships/friend_list', locals: {user: @profile_owner}
