- content_for :title do
  = page_title("Giftshare - #{@profile_owner.display_user_as('username')}")
- content_for :head do
  = stylesheet_link_tag 'users'

.row
  .col-sm-12#profile-header
    %h1= @profile_owner.display_user_as("username") + "'s Profile"
    - if @profile_viewer.id == @profile_owner.id
      = link_to('Edit Profile Settings', edit_registration_path(@profile_viewer))

.row#profile-body
  .col-sm-6
    - if @profile_viewer.id == @profile_owner.id
      %p You have #{pluralize(@lists.count, 'list')}
    - else 
      %p #{@profile_owner.display_user_as("username")} has #{pluralize(@lists.count, 'list')}

    - if @lists.count > 0
      %table.table
        %tr
          %th Title
          %th Event
          %th Date
          %th
        = render @lists

  - if @profile_owner == @profile_viewer
    .col-sm-5.col-sm-offset-1
      = render partial: 'friendships/friend_list', locals: {user: @profile_owner}
