-content_for :head do
  = stylesheet_link_tag 'users'

.row
  .col-md-12#profile-header
    %h1= (@user.username ? @user.username : @user.email) + "'s Profile"
    = link_to('Edit Profile Settings', edit_registration_path(current_user))

.row#profile-body
  .col-md-6#profile-lists-table
    - if current_user == @user
      %p You have #{pluralize(@lists.count, 'list')}
    - else 
      %p #{@user.email} has #{pluralize(@lists.count, 'list')}
    - if @user.lists.count > 0
      %table.table
        %tr
          %th Title
          %th Event
          %th Date
          %th
        = render @lists

  - if @user == current_user
    .view-friend-list.col-md-6
      .friend-add-form
        = render partial: 'friendships/friendship_form', locals: {:user => current_user}
    - if @user.friends.count > 0
      = render partial: 'friendships/friend_list', locals: {:user => current_user }
