- content_for :head do 
  = stylesheet_link_tag 'welcome'
  = stylesheet_link_tag 'searches'
  
.col-sm-4.thumbnail-box#welcomepage
  .thumbnail
    .thumbnail-image-container
      = link_to image_tag(item[:image_url]), item[:link], target: "_blank"

    .caption
      %h5= (item[:name])[0..20]
      %p Listing Number: #{item[:product_number]}
      %p Price: #{format_price(item[:price])}
      %p Category: #{item[:category]}

    .panel-footer
     
      %button.btn.btn-primary.btn-sm List it! <i class='glyphicon glyphicon-star'></i>