- content_for :head do 
  = stylesheet_link_tag 'welcome'
  = stylesheet_link_tag 'searches'
  
%header
  .container
    .row
      .jumbotron.welcome
        %h1 Welcome to GiftShare
        %p Your home for creating and sharing personalized wishlists
        .btn-toolbar{role: "toolbar"}
          .btn-group
            %button.btn.btn-default.btn-lg= link_to 'Sign Up', new_user_registration_path 
          .btn-group
            %button.btn.btn-default.btn-lg= link_to 'Sign In', new_user_session_path

  
/ .container#search-example
/   .row.col-sm-8
/     .form-group
/       %strong
/         %h4 Find your favorite stuff
/       %span.form-control#typewriter
/       .col-sm-6
/         %button.btn.btn-default#search-box Search!


.row-liquid#support-info
  - @index_results.each do |item|
    = render partial: 'popover', locals: { item: item }
