- content_for :head do
  = stylesheet_link_tag 'friendships'
  
.friend-add-form
  .row
    = form_tag '/friendships', method: :post, class: "form-horizontal", role: "form", remote: :true do
      
      .form-group.col-md-12
        %p= "Search friends by email:"
        .col-md-6= email_field_tag :email, nil, placeholder: "Example@giftshare.com", id: "focusedInput", class: 'form-control'
        .col-md-3= submit_tag 'Search', class: 'btn btn-small form-control'
    
  .panel#friendlist
    .panel-heading
      %h2.panel-title Friends List
    - if current_user.friends.count > 0
      .panel-body
        #friend-list
          %ul
            - user.friends.each do |friend|
              %li#friend-box{ class: 'js-friends-#{friend.id}' }
                %span.badge= count_lists_by(friend)
                = link_to(friend.email, user_path(friend))
                = link_to('Remove', friendship_path(friend), method: :delete, class: "btn btn-default btn-xs pull-right")
  




