- etsy_response_arrays.each do |item|
  .col-sm-4.thumbnail-box
    .thumbnail
      .thumbnail-image-container
        %img= image_tag item[:image_url]

      .caption
        %h3
          = item[:name]

      .panel-body
        Listing Number: item[:product_number]
        Price: $#{item[:price]}
        Category: #{item[:category]}

      .panel-footer
        %small #{item[:store]}: #{link_to 'See More Info', item[:link], :target => "_blank"}
        %button.btn.btn-primary.btn-sm{:data => {:toggle => "modal", :target => "##{item[:product_number]}"} } List it! <i class='glyphicon glyphicon-star'></i>
        = render partial: 'products/product_form', locals: {product: item}