- content_for :head do
  = stylesheet_link_tag 'searches'

.container
  .row
    .col-sm-3
      = form_for(([list.id, Search.new]), url: "/lists/#{list.id}/searches" , method: :post, html: { class: "form", role: "form" }) do |f|
        .form-group
          = f.label :keyword, "Search products by keyword"
          = f.text_field :keyword, placeholder: "Enter your search here...", class: "form-control", type: "search"
        = f.submit "Search!", class: "btn btn-primary btn-lrg"