- content_for :head do 
  = stylesheet_link_tag 'searches'

.container
  - @amazon_doc = Nokogiri::HTML(open(@search_request))
  .row
    - @amazon_doc.css("item").each do |result|
      .col-sm-4.thumbnail-box
        .thumbnail
          - ad_image = result.at_css("mediumimage url").text
          .thumbnail-image-container
            = image_tag(ad_image, class: "thumbnail-image")

          .caption
            .panel.panel-default
              .panel-heading
                %h3.panel-title= name = result.at_css("title").text
              .panel-body
                = "ASIN:" +  (asin = result.at_css("asin").text)
                = "Price: " + (price = format_product_price(result.at_css("amount").text))
                = "Category: " + (category = result.at_css("productgroup").text)
                - link = result.at_css('detailpageurl').text
              .panel-footer
                %small #{store = 'Amazon.com'}: #{link_to 'See More Info', result.at_css('detailpageurl').text}

                %button.btn.btn-primary.btn-sm{:data => {:toggle => "modal", :target => "##{asin}"} } List it! <i class='glyphicon glyphicon-star'></i>
                = render partial: 'products/product_form', locals: { name: name, product_number: asin, link: link, image: ad_image, category: category, price: price, store: store }

    - @etsy_response['results'].each do |item|
      .col-sm-4.thumbnail-box
        .thumbnail

          .thumbnail-image-container
            - etsy_image = (item['Images'][0]['url_170x135'])
            = image_tag(etsy_image, class: "thumbnail-image")

          .caption
            .panel.panel-default
              .panel-heading
                %h3.panel-title= etsy_listing_title = item['title']
              .panel-body
                = "Listing Number: " + (product_number = item['listing_id'].to_s)
                = "Price: " + (etsy_price = "$" + item['price'])
                = "Category: " + (etsy_category = item['category_path'][0])
              .panel-footer
                - etsy_link = item['url']
                %small #{store = 'Etsy.com'}: #{link_to 'See More Info', etsy_link}

                %button.btn.btn-primary.btn-sm{:data => {:toggle => "modal", :target => "##{product_number}"} } List it! <i class='glyphicon glyphicon-star'></i>
                = render partial: 'products/product_form', locals: { name: etsy_listing_title, product_number: product_number, link: etsy_link, category: etsy_category, price: etsy_price, store: store, image: etsy_image}
            

