- content_for :head do 
  = stylesheet_link_tag 'searches'

.container
  .row
    = @etsy_response['results'].each do |item|
      .col-sm-4.thumbnail-box
        .thumbnail
          .thumbnail-image-container
            - (image = (item['Images'][0]['url_170x135'] || item['Images'][0]['url_75x75'] || "http://site.etsystatic.com/assets/dist/images/homepage/variations/v3/etsy-logo.20131106185933.png"))
            = image_tag image, class: "thumbnail-image"

          .caption
            .panel.panel-default
              .panel-heading
                %h3.panel-title
                  = title = item['title']

              .panel-body
                Listing Number: #{product_number = item['listing_id'].to_s}
                - price = (item['price'] || "N/A")
                Price: $#{item['price']}
                Category: #{category = item['category_path'][0]}

              .panel-footer
                - link = item['url']
                %small #{store = 'Etsy.com'}: #{link_to 'See More Info', link, :target => "_blank"}
                %button.btn.btn-primary.btn-sm{:data => {:toggle => "modal", :target => "##{product_number}"} } List it! <i class='glyphicon glyphicon-star'></i>
                = render partial: 'products/product_form', locals: { name: title, product_number: product_number, link: link, category: category, price: price, store: store, image: image }

    - @amazon_response["ItemSearchResponse"]["Items"]["Item"].each do |result|
      .col-sm-4.thumbnail-box
        .thumbnail
          .row
            .thumbnail-image-container.col-md-6
              - (image = (defined?(result['MediumImage']['URL']) ? result['MediumImage']['URL'] : "https://images-na.ssl-images-amazon.com/images/G/01/authportal/common/images/amazon_logo_no-org_mid._V153387053_.png"))
              = image_tag image, class: "thumbnail-image"

            .thumbnail-basic-info.col-md-5
              %p Category: #{category = result['ItemAttributes']['ProductGroup']}
              %p ASIN: #{asin = result['ASIN']}
              - price = (defined?(result['ItemAttributes']['ListPrice']['FormattedPrice']) ? result['ItemAttributes']['ListPrice']['FormattedPrice'] : "Price not available")
              %p Price: #{price}
          .amazon.caption
            .panel.panel-default
              .panel-heading
                %h3.panel-title 
                  = name = result['ItemAttributes']['Title']
              .panel-body
                .row
                  .col-md-6
                    %p Store: #{store = 'Amazon.com'} 
                    %p
                      %small
                        - link = result['DetailPageURL']
                        = link_to 'See More Info', link, :target => "_blank"
                  .col-md-5
                    %button.btn.btn-primary.btn-sm{:data => {:toggle => "modal", :target => "##{asin}"} } List it! <i class='glyphicon glyphicon-star'></i>
                    = render partial: 'products/product_form', locals: { name: name, product_number: asin, link: link, image: image, category: category, price: price, store: store }

.row
  .results_nav.col-md-6.col-md-offset-3
    - if @page > 1
      .col-md-6
        %h2= link_to 'Previous Page', list_searches_path(list_id: @list.id, page: (@page - 1), value: @keyword), method: :post
    .col-md-6
      %h2= link_to 'Next Page', list_searches_path(list_id: @list.id, page: (@page + 1), value: @keyword), method: :post
