- content_for :head do 
  = stylesheet_link_tag 'searches'

.container
  .row

    - amazon_response_arrays.each do |item|
      .col-sm-4.thumbnail-box
        .thumbnail
          .thumbnail-image-container
            = link_to image_tag(item[:image_url]), item[:link], target: "_blank"

          .caption
            %h4= item[:name]
            %p Listing Number: #{item[:product_number]}
            %p Price: #{format_price(item[:price])}
            %p Category: #{item[:category]}

          .panel-footer
            %small #{item[:store]}: #{link_to 'See More Info', item[:link], :target => "_blank"}
            %button.btn.btn-primary.btn-sm{:data => {:toggle => "modal", :target => "##{item[:product_number]}"} } List it! <i class='glyphicon glyphicon-star'></i>
            = render partial: 'products/product_form', locals: {product: item}

    - etsy_response_arrays.each do |item|
      .col-sm-4.thumbnail-box
        .thumbnail
          .thumbnail-image-container
            = link_to image_tag(item[:image_url]), item[:link], target: "_blank"

          .caption
            %h4= item[:name]
            %p Listing Number: #{item[:product_number]}
            %p Price: #{format_price item[:price]}
            %p Category: #{item[:category]}

          .panel-footer
            %small #{item[:store]}: #{link_to 'See More Info', item[:link], :target => "_blank"}
            %button.btn.btn-primary.btn-sm{:data => {:toggle => "modal", :target => "##{item[:product_number]}"} } List it! <i class='glyphicon glyphicon-star'></i>
            = render partial: 'products/product_form', locals: {product: item}
            
.row
  .results_nav.col-md-6.col-md-offset-3
    - if @search.page > 1
      .col-md-6
        %h2= link_to 'Previous Page', list_previous_path(list_id: @list.id, id: @search)
    .col-md-6
      %h2= link_to 'Next Page', list_next_path(list_id: @list.id, id: @search)