<div class="modal fade" id= <%= product[:product_number] %> tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Add item to <%= @list.title %>?</h4>
      </div>
      <div class="modal-body">
        <div class="thumbnail-image"><%= image_tag product[:image_url] %></div>
        <div class="caption">
          <h3><%= product[:title] %></h3>
          <p><%= product[:price] %></p>
          <em><%= product[:product_number] %></em>
          <h6>Category: <%= product[:category] %> |
          <%= link_to "See More Info", product[:link] %></h6>
          <p><%= product[:store] %></p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <%= link_to "Add it!",  list_products_path(:list_id => @list, :product => product), method: :post, class: "btn btn-primary" %>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->