<div class="modal fade" id= <%= product_number %> tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Add item to <%= @list.title %>?</h4>
      </div>
      <div class="modal-body">
        <div class="thumbnail-image"><%= image_tag image %></div>
        <div class="caption">
          <h3><%= name %></h3>
          <p><%= price %></p>
          <em><%= product_number %></em>
          <h6>Category: <%= category %> |
          <%= link_to "See More Info", link %></h6>
          <p><%= store %></p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <%= link_to "Add it!",  list_products_path(:list_id => @list, :product => {name: name, product_number: product_number, link: link, price: price, store: store, image_url: image, category: category}), method: :post, class: "btn btn-primary" %>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->