- content_for :title do
  = page_title("Giftshare - Hot Items. Etsy.com Amazon.com")
- content_for :head do
  = stylesheet_link_tag 'searches'

.container
  .row
    - @products.each do |item|
      .col-xs-12.col-sm-6.col-md-4.thumbnail-box
        .thumbnail
          .bounding-box-show{ :style => "background-image: url(#{item[:image_url]})" }
          .caption
            %h5= link_to item[:name][0..38], item[:link], target: "_blank"
            %p Listing Number: #{item[:product_number]}
            %p Price: #{format_price(item[:price])}
            %p Category: #{item[:category]}

          .panel-footer
            %small Listed at: #{item[:store]}