-content_for :head do
  = stylesheet_link_tag 'searches'

.container
  .row
    - Product.all.each do |item|
      .col-sm-4.thumbnail-box
        .thumbnail
          .thumbnail-image-container
            = link_to image_tag(item[:image_url]), item[:link], target: "_blank"

          .caption
            %h4= item[:name]
            %p Listing Number: #{item[:product_number]}
            %p Price: #{format_price(item[:price])}
            %p Category: #{item[:category]}

          .panel-footer
            %small #{item[:store]}: #{link_to 'See More Info', item[:link], :target => "_blank"}
