.row
  .page-header
    %h1 Most popular products!

.row
  - @products.each do |product|
    .col-sm-4.thumbnail-box
      .thumbnail

        .thumbnail-image-container
          = image_tag product.image_url, class: "thumbnail-image"
        .caption
          .panel.panel-default
            .panel-heading
              %h3.panel-title= (product.name || "N/A")     
            .panel-body
              = "Listing Number: " + product.product_number
              = "Price: " + product.price
              = "Category: " + product.category
            .panel-footer
              %small #{product.store}: #{link_to 'See More Info', product.link, target: "_blank"}