-content_for :head do
  = stylesheet_link_tag 'searches'
  = stylesheet_link_tag 'rondell/dist/jquery.rondell', :media => "all", :title => "Screen"

.container
  #rondellPages
    - Product.all.each do |product|
      .thumbnail-box
        .thumbnail
          .row
            .thumbnail-image-container.col-md-6
              = image_tag product.image_url, class: "thumbnail-image"
            .thumbnail-basic-info.col-md-5
              %p= product.category
              %p= product.product_number
              - if product.price.present?
                %p Price: #{product.price}
          .caption
            .panel.panel-default
              .panel-heading
                %h3.panel-title 
                  = name = product.name
              .panel-body
                .row
                  .col-md-6
                    %p product.store 
                    %p
                      %small
                        - link = product.link
                        = link_to 'See More Info', link, :target => "_blank"