!!! 5
%html
  %head
    %title Giftshare
    = stylesheet_link_tag "application", :media => "all"
    = stylesheet_link_tag "custom", :media => "all"
    = yield :head
    = csrf_meta_tags

  %body
    .container-full-viewport
      %nav.navbar.special{:role => 'navigation'}
        .container
          %ul.nav.navbar-nav.pull-right
            - unless current_user
              %li= link_to 'Sign Up', new_user_registration_path
              %li= link_to 'Trending Lists', "#"
              %li= link_to 'Hot Products', products_path
              %li= link_to 'Sign In', new_user_session_path
            -else
              %li.active= link_to 'My Profile', user_path(current_user)
              %li= link_to 'Create List', new_list_path       
              %li= link_to 'Friend Feed', activities_path
              %li= link_to 'Top Products', products_path
              %li= link_to 'Sign Out', destroy_user_session_path, method: :delete
      
    .container
      - if flash[:error]
        .alert.alert-danger
          = flash[:error]
          %button{:type => "button", :class => "close", :data => {:dismiss => "alert"}, :aria => {:hidden => "true"}} &times;
      - elsif flash[:info]
        .alert.alert-info
          = flash[:info]
          %button{:type => "button", :class => "close", :data => {:dismiss => "alert"}, :aria => {:hidden => "true"}} &times;
      - elsif flash[:alert]
        .alert.alert-info
          = flash[:alert]
          %button{:type => "button", :class => "close", :data => {:dismiss => "alert"}, :aria => {:hidden => "true"}} &times;
      - elsif flash[:notice]
        .alert.alert-success
          = flash[:notice]
          %button{:type => "button", :class => "close", :data => {:dismiss => "alert"}, :aria => {:hidden => "true"}} &times;
    .container
      = yield

  = javascript_include_tag "application"