<!DOCTYPE html>
<html>
<head>
  <title>Giftshare</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= yield :head %>

  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">

  <div class="navbar navbar-inverse">
    <div class="container">
      <ul class="nav nav-pills">
        <li class="active"><%= link_to 'Sign Up', new_user_registration_path %></li>
        <li><%= link_to 'Trending Lists', "#" %></li>
        <li><%= link_to 'Hot Products', "#" %></li>
        <li><%= link_to 'Sign In', new_user_session_path %>
        <% if current_user %>
        <li><%= link_to 'Profile', lists_path %></li>
        <li><%= link_to 'Create List', new_list_path %></li>
        <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
        <% end %>
      </ul>
    </div>
  </div>


  <div class="container">
    <% if flash[:error] %>
    <div class="alert alert-danger">
      <%= flash[:error] %>
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    </div>
    <% elsif flash[:info]%>
    <div class="alert alert-success">
      <%= flash[:info] %>
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    </div>
    <% elsif flash[:alert]%>
    <div class="alert alert-info">
      <%= flash[:alert] %>
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    </div>
    <% end %>
  </div>

  <div class="container">
  <%= yield %>
  </div>
  <%= javascript_include_tag "application" %>
</div>
</body>
</html>
